<section class="error404">
    <div class="error404__wrapper">
        <h1 class="error404__title">404</h1>
        <div class="error404__text">НЕ ТУДА ПОПАЛИ</div>
        <img src="{{errIcon}}" alt="ERROR" class="error404__icon">
        <a href="/">{{{button}}}</a>
    </div>
</section>