@import '../../styles/variables.scss';

.input {
  position: relative;

  &__item {
    background-color: $main-dark-color;
    border: 1px solid $main-light-color;
    color: $main-light-color;
    padding: 10px 10px 10px 45px;
    border-radius: 10px;
    outline: none;
    &_error {
      border: solid 1px red;
    }  
  }

  &__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &_profile {
    background-color: $main-light-color;
    color: $main-dark-color;
    font-size: 18px;
    text-align: right;
  }

  &_chats {
    background-color: $main-light-color;
    color: $main-dark-color;
  }

  &_chat {
    width: 100%;
    background-color: $main-light-color;
    color: $main-dark-color;

    &_wrapper {
      width: 80%;
      margin-right: 20px;
    }
  }
}
