<div class="empty-chat__wrapper">
    <h2 class="empty-chat__title">{{ title }}</h2>
    <h4 class="empty-chat__subtitle">{{ subtitle }}</h4>
    <input type="text" class="input_empty-chat">
    {{{button}}}
</div>