@import "../../styles/variables";

.registration {
  width: 100vw;
  height: 100vh;
  background: $main-dark-color;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $main-light-color;
    text-align: center;
  }

  &__login-link {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: $main-light-color;
    cursor: pointer;
  }
}

.input {
  &_registration {
    margin-top: 20px;
  }
}

.button {
  &_registration {
    margin-top: 20px;
  }
}
