.chats {
  display: flex;
  justify-content: space-between;

  &__wrapper {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #36577e;
  }

  &__link-profile {
    text-decoration: none;
    color: #36577e;
  }

  &_chats {
    margin-top: 15px;
    margin-bottom: 15px;

    & input {
      background-color: #d9d9d9;
      color: #36577e;
    }
  }
}
