<section class="chats">
    <div class="chats__wrapper">
        <a href="/profile" class="chats__link-profile">
            <img src="{{iconSrc}}" alt="avatar" class="chats__avatar">
        </a>
        {{{input}}}
        {{#each chats}}
        {{{this}}}
        {{/each}}
    </div>
    {{{chat}}}
</section>