<div class="profile-item__placeholder">
    {{placeholder}}
</div>
<div class="profile-item__text">
    {{{text}}}
</div>
<div class="profile-item__icon">
    <img src="{{editIcon}}" alt="icon">
</div>
